@page "/findLocation"
@*<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png" asp-append-version="true" width="300px" />
    <img src="https://www.w3schools.com/html/img_chania.jpg" alt="alternatetext">*@

<div style="border: 2px solid powderblue; padding: 30px;">
    <div>
        <div class="row">
            <div class="col">
                <label for="locationName" class="col-sm-11">Location Name : </label>
                <input id="locationName" class="form-control col-sm-11"
                       @bind="@locationSearch"
                       placeholder="Location Name" />
            </div>

            <div class="col">
                <label for="latitude" class="col-sm-11">Latitude: </label>
                <input id="latitude" class="form-control col-sm-11"
                       @bind="@latSearch"
                       placeholder="latitude" />
            </div>

            <div class="col">
                <label for="longitude" class="col-sm-11">Longitude: </label>
                <input id="longitude" class="form-control col-sm-11"
                       @bind="@lonSearch"
                       placeholder="longitude" />
            </div>

            <div class="col">
                <label for="count" class="col-sm-11">Result count: </label>
                <input id="count" class="form-control col-sm-11"
                       @bind="@countSearch"
                       placeholder="Number of Results" />
            </div>

        </div>
        <div class="row">
            <button style="background-color: white;color: #00bfff;border: 2px solid #4169e1; visibility:@btnVisble" @onclick="searchResults">Search</button>
        </div>
    </div>
</div>
@if (!btnVisble)
{
    <div class="spinner"></div>

}
else
{
    <div>
        @if (index < modelFours.Count)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Location Name</th>
                        <th>Address</th>
                        <th>Country</th>
                        <th>Postal Code</th>
                        <th>Region</th>
                        <th>Image</th>
                    </tr>
                </thead>
                <tbody>
                    @if (searchResult != null)
                    {

                        @foreach (var itemA in modelFours)
                        {

                    <tr>
                        <td>@itemA.results[index].name</td>
                        <td>@itemA.results[index].location.address</td>
                        <td>@itemA.results[index].location.country</td>
                        <td>@itemA.results[index].location.postcode</td>
                        <td>@itemA.results[index].location.region</td>
                        @if (index < imageModels.Count)
                        {
                            <td><img src="@($"{imageModels[index].prefix}original{imageModels[index].suffix}")" style="width:250px;height:250px;" /></td>
                        }
                        else
                        {
                            <td></td>
                        }
                    </tr>
                            counterInc();
                        }
                    }
                </tbody>
            </table>
        }
        else
        {
            counterClear();
        }

    </div>
}

